:root {
  --color-bcg: grey;
  --color-text: white;
}

[dark] {
  --color-bcg: white;
  --color-text: grey;
}

.tree {
  background-color: var(--color-bcg);
  padding: 40px;
}

.text {
  color: var(--color-text);
}

.element {
  position: relative;
  background-color: black;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: blue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.element-left {
  position: absolute;
  left: 120px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  text-align: center;
  color: blue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.element-rigth {
  margin-right: auto;
  position: absolute;
  margin-left: auto;
  background-color: black;
  text-align: center;
  color: blue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#pixel-to-watch {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 100px;
  left: 0;
  background-color: black;
}

#pixel-to-watch2 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 200px;
  left: 0;
  background-color: blue;
}

#pixel-to-watch3 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 300px;
  left: 0;
  background-color: red;
}

#pixel-to-watch4 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 400px;
  left: 0;
  background-color: blue;
}

#pixel-to-watch5 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 500px;
  left: 0;
  background-color: red;
}

#pixel-to-watch6 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 600px;
  left: 0;
  background-color: blue;
}

#pixel-to-watch7 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 700px;
  left: 0;
  background-color: red;
}

#pixel-to-watch8 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 800px;
  left: 0;
  background-color: blue;
}

#pixel-to-watch9 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 900px;
  left: 0;
  background-color: red;
}
